<html>
  <head>
    <title>$i18n.getText("issuesSender.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResourcesForContext("issuesSender")
  </head>
  <body>
    <table id="issues-tasks-table" class="aui"></table>
   </body>
</html>