<html>
  <head>
    <title>$i18n.getText("issuesSender.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResourcesForContext("issuesSender")
  </head>
  <body>
    <form id="admin" class="aui">
      <table id="issues-tasks-table" class="aui"></table>
    </form>
  </body>
</html>